<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities - Index</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user }}</p>
    {% else %}
        <p>Hi</p>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message | safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Opportunities</h1>
    {% if form %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    {% endif %}
</body>
</html>